.wrapper-appform {
    background-color:#61876ed9;
}
.grantTitle {
    text-align:center;
    margin:auto;
    padding:1%;
    color:black;
}
.title {
    font-size: 40px;
    background:#F8EDE3;
    padding:1%;
    margin:auto;
    width:66.4%;
    border-radius: 4px;
    text-align: center;
}

.wrapper-user-information{
    background-color: lightgrey;
    border-radius: 4px;
    margin: auto;
    text-align: left;
    width: 20%;
}
.user-information-text{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.status-info-hold {
    text-align: center;
}
.questionSection {
    margin:auto;
    margin-bottom: 1rem;
    width:65%;
    background:#F8EDE3;
    padding:1%;
    color:black;
    border-radius: 4px;
}
.question {
    margin:5px;
    padding:5px;
    text-align: center;
    font-size: 20px;
}

.question-label{
    text-decoration: underline;
}

.user-info-label{
    font-size: 16px;
}
.status-current-label{
    font-size: 16px;
    text-decoration: underline;
}

.wrapper-user-answer{
    background-color: white;
    border-radius: 4px;
    text-align: left;
}

.user-answer-text{
    padding-left: 1rem;
    padding-right: 1rem;
}

.select-dropdown{
    font-size: 16px;
}

.file-div{
    background-color: #F8EDE3;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    width: 20%;
}

.wrapper-admin-feedback{
    background-color: #F8EDE3;
    margin: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    width: 60%;
}
.wrapper-status-current{
    background-color: #F8EDE3;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    width: 20%;
}

.wrapper-new-comment{
    display: flex;
}
.admin-comments{
    width: 70%;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.wrapper-feedback-buttons{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    width:30%;
}
.wrapper-small-feedback-buttons{
    display: flex;
}

.wrapper-comment-button{
    margin-top: 1rem;
    height: 4rem;
}
.wrapper-status-button{
    margin-top: .5rem; 
    margin-right: 1rem;
    height: 3rem;
    width: 50%;
}

.wrapper-grade-button{
    margin-top: .5rem; 
    height: 3rem;
    width: 50%;
}

.wrapper-previous-comments{
    background-color: #61876ed9;
    margin: auto;
    margin-bottom: 1rem;
    overflow-y: scroll;
    height: 10rem;
    width: 95%;
    border-radius: .5rem;
}

#comment-text-div{
    background-color: #F8EDE3;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1.5%;
    padding-left: 1%;
    border-radius: .5rem;
}

.text-center {
    margin:1%;
}
.buttonWrapper1 {
    padding-top:4%;
    margin:auto;
}
.button1 {
    background-color: #BDD2B6;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    width:15%;
    border-radius: 4px;
}
.button2 {
    background-color: #BDD2B6;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    width: 60%;
    min-width: 100px;
}

.button2:hover{
    background-color: #F8EDE3;
    color: black;
}

.buttonWrapper2 {
    margin:auto;
    padding:1%;
}

.add-comment-button{
    background-color: #198754;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%
}

.add-comment-button:hover{
    background-color: #157347;
    color: white;
}

.status-button{
    background-color: #BDD2B6;
    border: none;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%
}

.grade-button{
    background-color: #BDD2B6;
    border: none;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%
}

.back-button{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15%;
    text-align: center;
}

.prev-page-link{
    color: black;
    text-decoration: none;
}

.prev-page-link:hover{
    color: black;
}

html {
    background-color:#61876ed9;
}

@media screen and (max-width: 1024px) {
    .title{
        font-size: 30px;
        width:71%;
    }
    .q4Wrapper-appform{
        padding-top: 5%;
    }
    .row-appform{
        margin-top: 2%;
        margin-bottom: 2%;
        display:block;
    }
    .col-md-form{
        display: block;
    }
    .user-info-field{
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center;
    }
    .questionSection{
        width: 70%;
    }
    .file-div{
        width: 60%;
    }
    .wrapper-admin-feedback{
        width: 90%;
    }
    .wrapper-comment-button{
        width: 105%;
    }
    .wrapper-status-button{
        margin-right: 5px;
        margin-left: -10px;
    }
    .back-button{
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

.q1select-appform {
    font-size: 16px;
}

.q2select-appform {
    font-size: 16px;
}