.GrantSelection{
  padding: 2% 0% 0.5% 0%;
  background-color: rgba(97, 135, 110, 1);


}

.GrantScholarshipHeader {
  padding:  1% 5% .5% 5%;
  background-color: #F8EDE3;
  text-align: center;
  font-size: 10vh;
  color: black;
  outline-color: black;
}


.GrantScholarshipCard{
  width: 75%;
  background-color: #F8EDE3; 
  margin: 0 auto; 
  float: none; 
  margin-top:  2%;
  margin-bottom: 5%;
  border-radius: 5%;
  perspective: 1px;
  
}

.TopPhoto {
  width: 100%;
  height: 200px;
  align-items: center;
  
}

.TopPhoto_2 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  align-content: bottom;
  
}

.img_1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.img_2 {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 100% 20%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}

.GrantHeader {
  background-color: #F8EDE3;
  margin: 0 auto; 
  text-align: center;
  justify-content: left;
  padding-top: 1%;
}

.ScholarshipHeader {
  background-color: #F8EDE3;
  margin: 0 auto; 
  text-align: center;
  justify-content: left;
  padding-top: 1%;


}

.BottomHalf {
  background-color: #F8EDE3;
  text-align: center;
  padding-top: .5%;
  padding-left: 2%;
  padding-right: 3%;
  border-radius: 5px;
  padding-bottom:.25%;
  
  
}

.ApplicationSub{
  align-self: center;
  padding: 0% 0% 0% 0%;
}

.ApplyButton {
  padding: 0% 2.5% 0% 0%;
}


.apply_1{
  margin-left: 1.75%;
}
.apply_2{
  margin-left: 1.75%
}

.ExampleBox{
  text-align: center;
}


.DropDownItem{
  align-items: center;
}

.Requirements{
  text-align: left;
  padding-left: 0%;
}


