.GrantScholarshipHeader {
  padding:  1% 5% .5% 5%;
  background-color: #BDD2B6;
  text-align: center;
  font-size: 10vh;
  color: black;
  outline-color: black;

}

.SubmissionsButton {
    display: flex;
    justify-content: flex-end;
    padding: 1% 1% 2% 1%;
}

.GrantScholarshipCard{
  width: 75%;
  background-color: #F8EDE3; 
  margin: 0 auto; 
  float: none; 
  margin-top:  2%;
  margin-bottom: 5%;
  border-radius: 5%;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.TopPhoto {
  width: 100%;
  height: 200px;
  align-items: center;
  
}

.TopPhoto_2 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  align-content: bottom;
  
}

.img_1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.img_2 {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 100% 20%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}

.GrantHeader {
  background-color: #F8EDE3;
  margin: 0 auto; 
  text-align: center;
  justify-content: left;
  padding-top: 1%;
}

.ScholarshipHeader {
  background-color: #F8EDE3;
  margin: 0 auto; 
  text-align: center;
  justify-content: left;
  padding-top: 1%;

}

.BottomHalf {
  background-color: #F8EDE3;
  text-align: left;
  padding-top: .5%;
  padding-left: 3%;
  padding-right: 3%;
  
}

.ApplyButton {
  display: flex;
  justify-content: center;
  padding: 0% 0% 2% 0%;
}





