* {
    font-family: Arial, Helvetica, sans-serif;
}

/* html, .flex-wrap { 
    background-color: #61876ed9;
    height: 100%;
    overflow: hidden;
} */

 h1 {
    font-weight: bolder;
 }

.navbar {
    background-color: #BDD2B6;
}

 .submission-body {
    background-color: #F8EDE3;
}

.page-title {
    width: 100%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #BDD2B6;
}

.container {
    display: flex;
    justify-content: center;
}

.vstack {
    width: 50%;
}

.application-headers {
    display:flex;
    justify-content: space-around;
}

.back-to-grants {
    background-color: #BDD2B6;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
}

.col {
    display: flex;
    justify-content:flex-end;
    margin-right: 2%;
}


.main-card {
    height: 30rem;
    max-height: 40rem;
}

.applications {
    background-color: #BDD2B6;
    color: black;
    border-color: #BDD2B6; 
}
