.past-submissions-title {
    font-weight: bolder;
    background-color: #BDD2B6;
    width: 100%;
    height: 100%;
 }

.page-content {
    padding-bottom: 3%;
    overflow-x: hidden;
}

.navbar {
    background-color: #BDD2B6;
}

 .submission-body {
    background-color: #F8EDE3;
    border-width: 0px;
}

.page-title {
    width: 100%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #BDD2B6;
}

/*container*/
.container {
    display: flex;
    justify-content: center;
}
  

.vstack {
    width: 50%;
}

.application-headers {
    display:flex;
    justify-content: space-around;
    border: none;

}

.back-to-grants {
    background-color: #BDD2B6;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
}

.col {
    display: flex;
    justify-content:flex-end;
    margin-right: 2%;
}


.main-card {
    height: 35rem;
    max-height: 60rem;
}

.applications {
    background-color: #BDD2B6;
    color: black;
    border-color: #BDD2B6;
    text-decoration: none;
}
.applications:hover {
    color:white;
}

.mobile-apps {
    display: none;
}

/*change back to grants button first*/
@media screen and (max-width: 992px) {
     .back-to-grants {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
     }
}

@media screen and (max-width: 768px) {
    .back-to-grants {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 27px;
    }
    /*wrap*/
    .vstack {
        width: 100%;
    }

    .app-status {
        width: 50%;
        display: flex;
        margin-bottom: 2%;
    }
    .main-card {
        overflow: hidden;
        max-height: 100rem;
        height: 45rem;
    }

    .desktop-apps {
        display: none;

    }
    .mobile-apps {
        display: unset;
    }

    .btn-space {
        margin-bottom: 50%;
    }
}

@media screen and (max-width: 416px) {
    .back-to-grants {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 27px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .main-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 60rem;
    }
    .desktop-apps {
        display: none;

    }

}