body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #61876ed9;
    color:black
    
    
}
.PasswordReset{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #61876ed9;
    color:black;
    height: 110vh;
    
    

}
.imdiv{
    width: 50%;
    margin:0 auto;
    padding-top: 50pt;
}
.ResetSuccess{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #61876ed9;
    color:black;
    height: 110vh;
}
.container2{
    font-size: 20px;
}


button {
    /*  !important to override color*/
    border: none !important;
   font-size: 20px !important;
   text-align: center !important;
   overflow: auto !important;
    color: #000 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color:#BDD2B6 !important;

}

label{
    text-align: left !important;
}
div{
    
    font-family: Arial, Helvetica, sans-serif !important;
}
.form-group{
    text-align:left;
}
.btn{
    margin-top: 10px;
}
.wrapper {
    margin:0 auto;
    
}
.container{
    margin-top: 10px;
    font-size: 20px;
    
}
.form-group{
    margin: 0 auto;
    
}
.form-group w-50{
    margin: 0 auto;
}

.form-group w-75{
    margin-top: 90px;
    margin-left: 40px;
}
.btn btn-secondary btn-lg col-2{
    margin-top: 30px;
}