.wrapper-subappform {
    background-color:#61876ed9;
}
.grantTitle-subappform {
    text-align:center;
    margin:auto;
    width:75%;
    padding:1%;
    color:black;
}
.title-subappform {
    font-size:40px;
    background:#F8EDE3;
    padding:1%;
    margin:1%;
    border-radius: 4px;
    text-align:center;
}
.questionSection-subappform {
    margin:auto;
    width:65%;
    background:#F8EDE3;
    padding:1%;
    color:black;
    border-radius: 4px;
    text-align:center;
}
.basicInfo-subappform {
    margin:5px;
    padding:5px;
    text-align:center;
}
.basicInfoWrapper-subappform {
    margin: auto;
    padding:1%;
    text-align:center;
}
.Q1Selection-subappform {
    margin: 1%;
    padding: 1%;
    text-align:center;
}
.q1-subappform {
    margin:5px;
    padding:5px;
    text-align:center;
}
.q2-subappform {
    margin:5px;
    padding:5px;
    text-align:center;
}
.q3-subappform {
    margin:5px;
    padding:5px;
    text-align:center;
}
.q4-subappform {
    margin:5px;
    padding:5px;
    text-align:center;
}
.qLast-subappform {
    margin:5px;
    padding:5px;
    text-align:center;
}
.qanswer-subappform {
    text-align:left;
    padding:1%;
}
.form-label-subappform1 {
    font-size: 20px;
    text-decoration: underline;
    text-align:center;
}
.form-label-subappform2 {
    font-size: 20px;
    text-decoration: underline;
    text-align:center;
}
.answerarea-subappform {
    background-color:white;
    border-radius:4px;
}
.text-center-subappform {
    margin:1%;
    text-align:center;
}
.uploadButtonLetterOfRec-subappform {
    margin:1%;
    padding:1%;
    text-align:center;
    color:blue;
}
.uploadButtonEssay-subappform {
    margin: 1%;
    padding: 1%;
    text-align:center;
    color:blue;
}
.buttonWrapper1-subappform {
    padding:1%;
    margin:auto;
    text-align:center;
}
.button1-subappform {
    background-color: #BDD2B6;
    border: none;
    color: black;
    padding: 1%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    max-width:35%;
    border-radius: 4px;
}
.button1-subappform:hover {
    background-color:#F8EDE3;
}
html {
    background-color:#61876ed9;
}
.q5-subappform {
    margin:5px;
    padding:5px;
    text-align:center;
}
.q6-subappform {
    margin:5px;
    padding:5px;
    text-align:center;
}